name: E2E Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Backend
      - name: Install backend dependencies
        working-directory: server
        run: npm ci

      - name: Start backend
        working-directory: server
        run: npm start &
      
      # Frontend
      - name: Install frontend dependencies
        working-directory: web
        run: npm ci

      - name: Start frontend
        working-directory: web
        run: npm run dev &

      # Esperar que os serviços estejam no ar
      - name: Install wait-on
        run: npm install -g wait-on

      - name: Wait for backend and frontend
        run: |
          wait-on http://localhost:4000/ping
          wait-on http://localhost:5173

      # Correr Cypress
      - name: Run Cypress tests
      # corre na pasta web, onde está cypress/e2e/test.cy.js
        working-directory: web
        run: npx cypress run --config baseUrl=http://localhost:5173 --env apiUrl=http://localhost:4000

